<%- include('../Partials/header.ejs') %>
<nav class="navbar navbard-expand-lg navbark-dark bg-primary">
    <h1 class="text-center">Clientes</h1>
</nav>    
    <div class="container mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID: </th>
                    <th>Nome Cliente</th>
                    <th>Telefone Cliente</th>
                    <th>Total a pagar</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% clientes.forEach((clientes) => { %>
                    <% if (clientes.total > 1) { %> 
                        <tr>
                            <th> <%= clientes.id %> </th>
                            <th> <%= clientes.nomeCliente %></th>
                            <th> <%= clientes.telefone %> </th>
                            <th> R$ <%= clientes.total %> </th>
                            <th>
                                <form action="/receberPagamento" method="POST">
                                    <input type="hidden" name="id" value="<%= clientes.id %>">
                                    <button class="btn btn-primary"> Receber Pagamento </button>
                                </form>
                            </th>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
    </div>
<%- include('../Partials/footer.ejs') %>