<%- include('../Partials/header.ejs') %>
<nav class="navbar navbard-expand-lg navbark-dark bg-primary">
    <h1 class="text-center">Produtos</h1>
</nav>    
    <div class="container mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID: </th>
                    <th>Nome Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <% produtos.forEach((produtos) => { %>
                    <tr>
                        <th> <%= produtos.id %> </th>
                        <th> <%= produtos.nomeProduto %></th>
                        <th> <%= produtos.quantidade %> </th>
                        <th> <%= produtos.preco %> </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<%- include('../Partials/footer.ejs') %>